.footer{
    /* display:flex;
    align-items: "center";
    justify-content: "center"; */
    position: fixed;
    bottom: 0px;
    width: 100%;
    
    background-color: #292961;
    color: white;
}